.dude {
	width: 230px;
	height: 75px;
	background-color: #661500;
	position: fixed;
	top: 18px;
	left: 25px;
}

.list{
	display: inline;
	float: left;
	background-color: #002966;
	height: 300px;
	width: 250px;
	margin: 10px;
}

.listBig{
	display: inline;
	float: left;
	background-color: #002966;
	height: 300px;
	width: 640px;
	margin: 10px;
}

li {
	list-style:none;
	padding-left:0;
	display: inline;

}

ul {
	margin:0;
	padding-left:0;
}

.container {
	height: 550px;
	margin-left: 245px;

	/*margin: 0 auto;*/
}

.sideContainer {
	position:fixed;
	float: right;
	width: 270px;
	top:8px;
}

